root {
    --primary-color: #ff346b;
    --primary-color-light: #ff5345;
    --background-gradient: linear-gradient(0deg, #ff346b 100%, #ff5345 0%);
}
body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    background: linear-gradient(0deg, #ff346b 100%, #ff5345 0%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}
.container {
    height: 100vh;
    background-position: center;
    background-size: cover;
    
}
.header {
    display: grid;
    grid-template-columns: 500px 1fr 1fr;
    padding: 30px 30px;
    align-items: center;
    color: white;
    text-decoration: none;
}
.main-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-evenly;
}
a.active{
    text-transform: uppercase;
    border: 1px white;
    text-decoration: underline;
}
.logo {
    align-items: center;
}
.main-menu > a {
    display: grid;
    justify-content: space-evenly;
    font-size: 14px;
    color: white;
    text-decoration: none;
    align-items: center;
}
.fa-search {
    margin-left: 30px;
    font-size: 14px;
}
.login {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.login > a {
    display: grid;
    justify-content: flex-end;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 300px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.content > .text > .name {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
    line-height: 1.2em;
    color: white;
    text-align: left;
    margin-bottom: 50px;
}
.content > .text > .main-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    font-size: 18px;
    line-height: 1.3em;
    text-decoration: none;
    color: white;
    text-align: left;
}
.img {
    align-items: flex-end;
}
.footer {
}
